<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/images/logo2.webp" width="250px">
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <% if(locals.role === 'Admin' && locals.isAuth){ %> 
                <li><a href="/products/ms">Manage Products</a></li>
                <% } %> 
                <li><a href="/contact">Contact</a></li>
                <% if(locals.isAuth){ %> 
                <li><a href="/logout">Logout</a></li>
                <% }else if(!locals.isAuth){ %> 
                <li><a href="/login">Account</a></li>
                <% } %> 
            </ul>
        </nav>
    
          <!-- <a href="/cart"> <img src="/images/cat4.png" width="50px" height="50px"></a> -->
           <!-- <img src="/images/menu1.png" class="menu-icon" onclick="menutoggle()">     -->
            </div>
            
        </div>