<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <div class="sym">
        <h2>Need help placing an order?</h2>
        <p>If you have difficulty placing your order, please call us on the number below or reach us
            using the social media handles below:
        </p>
        <p>Service Hours: Mon-Fri, 8:00 a.m. - 6:00 p.m.; <br>
            Weekends &Public Holidays, 8:00 a.m. - 4:00 p.m.</p>
          <!---<a href="#" class="bs">call us</a>--->

    </div>
    <div class="container">
        <p><i>Phone:0702953398</i></p>
        <p><i><a href="https://www.facebook.com/profile.php?id=100063754092453&mibextid=ZbWKwL">Facebook </i></p>
            <p><i><a href="https://instagram.com/thegirlcollection2021?igshid=ZmZhODViOGI=">Instagram </i></p>
        
        <p><i> <a href="https://wa.me/+254702953398">Whatsapp</i></p>
            
        
    </div>
    <style>
        body{
            background: black;

        }
        .container{
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: radial-gradient(#fff,#ffd6d6);
            text-decoration: none;
            

        }
        .sym{
            font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(#fff,#ffd6d6);
        }
        /*.bs{
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            background: #1e90ff;
            width: 100px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }*/
    </style>
</body>
</html>